#titulo1 {
    text-align: center;
    font-size: 50px;
    color: white;
}

#titulo1 {
    text-align: center;
    font-size: 50px;
    color: white;
}

#corpo {
    background-image: linear-gradient(to right, rgba(226, 204, 204, 0), rgba(56,176,222));
}

#menuHome {
    text-align: center;
    font-size: 26em;
}

#nome_ct {
    font-size: 100%;
    width: 26em;
}

#email_ct {
    font-size: 100%;
    width: 26em;
}

#assunto_ct {
    font-size: 100%;
    width: 26em;
}

#form1 {
    margin: 0 auto;
    width: 420px;
}

#texto1 {
    text-align: center;
}