

/*Título Cabeçalho(Tem que ser de Acordo com o Home)*/
#titulo1 {
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: serif;
}

/*Menu(De acordo com o Home)*/
#menuInv {
    text-align: center;
    font-size: 20px;
}

/*Copo do site (Tem que ser de acordo com o home)*/
body {
    background-image: linear-gradient(to right, rgba(226, 204, 204, 0), rgba(56,176,222)); 
}

/*Área de texto*/

#areaText{
    margin-top: 3%;
}

/*"Título"*/
#texto01 {
    text-align: justify;
    float: left;
    color: black;
    font-size: 80px;
    line-height: 90%;
    margin-left: 21%;
    width: 25%;

}

/*Introdução*/
#texto02 {
    text-align: justify;
    float: left;
    color: black;
    font-size: 30px;
    margin-top: 3%;
    line-height: 90%;
    margin-left: 21%;
    margin-right: 21%;
    width: 25%;

}

/*gif*/
#gif{
    position: absolute;
    float: right;
    margin-right: 5%;
    margin-top: 10%;
    margin-left: 17%;
    width: 20%; /* largura */
    height: 30%; /* altura */
}

/*Desenvolvimento*/
#desenv{
    float: left;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
    width: 50%;
    font-size: 20px;
}
/*
#fixa {
    color: green;
}

#fundo {
    color: yellow;
}

#variavel {
    color: red;
}*/