#cabecalhoHome {
    background: #1E90FF;
}

#titulo1 {
    text-align: center;
    font-size: 40px;
    color: white;
}

body {
    background-color: rgb(44, 44, 44); 
}

#menuHome {
    text-align: center;
    font-size: 20px;
}

#texto01 {
    text-align: center;
    color: white;
    font-size: 50px;
}