/*Cabeçalho*/
#cabecalhoInv {
    background: #1E90FF;
}

/*Título Cabeçalho*/
#titulo1 {
    text-align: center;
    font-size: 40px;
    color: white;
}

/*Copo do site*/
body {
    background-color: #2e2828; 
}

/*Menu*/
#menuInv {
    text-align: center;
    font-size: 20px;
}

/*Área de texto*/

#texto00{
    margin-top: 10px;
}

/*"Título"*/
#texto01 {
    text-align: justify;
    color: white;
    font-size: 30px;
    line-height: 0px;
    margin: 40px;
    width: 50%;
    float: left;

}

/*Introdução*/
#texto02 {
    text-align: justify;
    float: left;
    color: white;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 0px;
    line-height: 20px;
    width: 50%;

}